<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h1>Profile Page</h1>
        <a href="/logout" class="button">Logout</a>
    </div>
    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="small-6 columns">
            <div class='panel'>
                <h3>Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>balance</strong>: <%= user.local.balance %><br>
                        <strong>transactions</strong>: <br>
                        <table>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Date</th>
                                <% for(var i=0; i<user.local.transactions.length; i++) {%>
                                   <tr>
                                     <td>
                                       <%= user.local.transactions[i].amount%>
                                     </td>
                                     <td>
                                       <%= user.local.transactions[i].description%>
                                     </td>
                                     <td>
                                       <%= user.local.transactions[i].date%>
                                     </td>
                                   </tr>
                                <% } %>
                            <% } %>
                        </table>   
                   

            </div>
</div>

<!-- Deposit/Withdraw -->
<div class="small-6 columns panel">
            <div class="well">
                <form action="/transaction" method='post'>
                <h3>Local</h3>
                <input type="hidden" value=<%= user._id %> name='id'>
                <input type="hidden" value=<%= user.local.balance %> name='balance'>
                <input type="number" name="amount" placeholder="Enter positive amount for deposit, negative for withdraw" class="small-12 columns">
                <input type="text" name='description' placeholder="Description" class='small-12 columns' >
              <!--   <a href="/transaction/" class='btn btn-default'> -->
              <button type="submit">Complete Transaction</button>
          <!-- </a> -->
            </form>
            </div>
        </div>

</div>
<script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
<script src='http://cdn.foundation5.zurb.com/foundation.js'></script>
</body>
</html>